@import './source/top-bar.css';
@import './source/animations/full-spin.css';

@font-face {
    font-family: PTSansRegular;
    src: url('../assets/fonts/PTSans/Regular.ttf');
}

@font-face {
    font-family: PTSansBold;
    src: url('../assets/fonts/PTSans/Bold.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
}

button {
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
}
