/* Font Familys */

@font-face {
	font-family: OpenSans-Regular;
	src: url("Assets/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: OpenSans-Bold;
	src: url("Assets/static/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
	font-family: OpenSans-Italic;
	src: url("Assets/static/OpenSans/OpenSans-Italic.ttf");
}


/* Body + Base Elements*/

body {
	padding: 0;
	margin: 0;
	font-family: OpenSans-Regular;
	background-color: rgb(32, 30, 30);
	text-align: center;
}

h1 {
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
}

p {
	color: rgb(255, 255, 255);
}

b {
	font-family: OpenSans-Bold;
}


/* Topbar */

#TopBar {
	background-color: rgb(54, 48, 48);
	height: 50px;
}

#Title {
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	font-size: large;
	margin-top: 12.5px;
	margin-left: 5px;
	height: 25px;
	float: left;
}

#TitleIcon {
	height: 30px;
	width: 30px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}


/* Footer */

footer {
	background-color: rgb(54, 48, 48);
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.FooterText {
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	font-size: medium;
	margin-top: 10px;
	margin-left: 5px;
	height: 25px;
	float: left;
}

.FooterIcon {
	height: 25px;
	width: 25px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.BottomFooter {
	margin-top: 0;
}