/* Font Familys */

@font-face
{
	font-family: OpenSans-Regular;
	src: url("Assets/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face
{
	font-family: OpenSans-Bold;
	src: url("Assets/static/OpenSans/OpenSans-Bold.ttf");
}

@font-face
{
	font-family: OpenSans-Italic;
	src: url("Assets/static/OpenSans/OpenSans-Italic.ttf");
}


/* Body + Base Elements*/

body
{
	padding: 0;
	margin: 0;
	font-family: OpenSans-Regular;
	background-color: #23272A;
	text-align: center;
	background-image: url("Assets/Screenshot_20220913_091536.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h1
{
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	margin-top: 10px;
}

h2
{
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	margin-top: 10px;
}

p
{
	color: rgb(255, 255, 255);
	padding: 25px;
}

b
{
	font-family: OpenSans-Bold;
}

a
{
	color: rgb(152, 190, 255)
}

hr
{
	color: rgb(255, 255, 255);
	width: 60%;
}

ul
{
	color: rgb(225, 255, 255);
	background-color: #2C2F33;
	text-align: left;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 2px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
	border-radius: 15px;
	border: 2px solid rgb(193, 193, 193);
}

table
{
	color: rgb(225, 255, 255);
	background-color: #2C2F33;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2px;
	width: 80%;
	padding: 25px;
	border-radius: 15px;
	border: 2px solid rgb(193, 193, 193);
}

.TopRow
{
	background-color: #23272A;
	font-size: large;
}

tr:nth-child(even)
{
	background-color: #272b2e
}

th
{
	padding: 10px;
	text-align: center;
}

li
{
	margin-bottom: 10px;
}

img
{
	border: 2px solid rgb(193, 193, 193);
	border-radius: 15px;
}

.ImgIcon
{
	border: none;
}

iframe
{
	border: 2px solid rgb(193, 193, 193);
	border-radius: 15px;
}


/* Random */

#CantSeeEmojisButton
{
	width: auto;
	font-family: OpenSans-Bold;
	font-size: large;
	border: none;
	background-color: #2C2F33;
	color: rgb(225, 255, 255);
	padding: 10px;
	border-radius: 10px;
}

#CantSeeEmojisButton:hover
{
	border: 2px solid rgb(193, 193, 193);
}

#MobsAndModsDesc
{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}


/* Topbar */

#TopBar
{
	background-color: #23272A;
	height: 50px;
	margin-bottom: 0;
	position: sticky;
	top: 0px;
	z-index: 1;
}

#Title
{
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	font-size: large;
	margin-top: 12.5px;
	margin-left: 5px;
	height: 25px;
	float: left;
}

.TitleIcons
{
	height: 30px;
	width: 30px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.TopBarButtons
{
	height: 30px;
	font-family: OpenSans-Bold;
	font-size: large;
	margin-top: 10px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	background-color: #2C2F33;
	color: rgb(225, 255, 255);
	padding-top: 2.5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.TopBarButtons:hover
{
	height: 35px;
	margin-top: 5px;
	border: 2px solid rgb(193, 193, 193);
}

#AboutButton
{
	margin-right: 25px;
}


/* Content */
#Content
{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 0px;
	margin-bottom: calc(100% / 2);
}


/* Footer */

footer
{
	background-color: #23272A;
	height: 80px;
	position: sticky;
	margin-top: 100% - 80px;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.FooterText
{
	color: rgb(225, 255, 255);
	font-family: OpenSans-Bold;
	font-size: medium;
	margin-top: 10px;
	margin-left: 5px;
	height: 25px;
	float: left;
}

.FooterIcon
{
	height: 25px;
	width: 25px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.BottomFooter
{
	margin-top: 0;
}


/* About Section Sub Dividers + Buttons */

#PageContent
{
	width: 70%;
	margin: 0px;
	color: rgb(225, 255, 255);
	float: left;
	position: absolute;
}

#PageList
{
	width: 25%;
	margin-left: 70%;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 0px;
	color: rgb(225, 255, 255);
	float: right;
	position: absolute;
	background-color: #23272A;
	border-radius: 15px;
	padding: 10px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border: 2px solid rgb(193, 193, 193);
}

#PageListTitle
{
	margin-bottom: 0px;
}

.PageListButton
{
	height: auto;
	padding: 5px;
	width: 90%;
	font-family: OpenSans-Bold;
	font-size: medium;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	background-color: #2C2F33;
	color: rgb(225, 255, 255);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.PageListButton:hover
{
	border: 2px solid rgb(193, 193, 193);
}