/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

.Center
{
    text-align: center;
    margin: auto;
    display: block;
}

.LinkButton:hover
{
    text-decoration: underline;
}

.TopPadding
{
    padding-top: 15px;
}

.MediumFont
{
    font-size: medium !important;
}

.SmallerFont
{
    font-size: smaller !important;
}