/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

/* General Classes */

.Center
{
    text-align: center;
    margin: auto;
    display: block;
}

.LinkButton:hover
{
    text-decoration: underline;
}

.TopPadding
{
    padding-top: 15px;
}

.TopMargin
{
    margin-top: 15px;
}

.MediumFont
{
    font-size: medium !important;
}

.SmallerFont
{
    font-size: smaller !important;
}

.LoadingGIF
{
    height: 100%;
    margin: auto;
    width: auto;
}

.StickoutColor
{
    color: #e86d65;
}

/* Simple Animations */

@keyframes FadeIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.FadeInAnimation
{
    animation: FadeIn 500ms;
}

/* Menu Bar */

.MenuBarButton
{
    background-color: #171717;
    float: right;
    display: inline;
    height: 100%;
    width: auto;
    border-radius: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.MenuBarButtonFull
{
    width: 100%;
    height: 30px;
    padding: 5px;
    float: none;
    margin: 0;
}