/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

/* General Classes */

.Center
{
    text-align: center;
    margin: auto;
    display: block;
}

.LinkButton:hover
{
    text-decoration: underline;
}

.TopPadding
{
    padding-top: 15px;
}

.MediumFont
{
    font-size: medium !important;
}

.SmallerFont
{
    font-size: smaller !important;
}

.LoadingGIF
{
    height: 100%;
    width: auto;
}

/* Menu Bar */

.MenuBarButton
{
    background-color: #171717;
    float: right;
    display: inline;
    height: 100%;
    width: auto;
    border-radius: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}