/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

/* Roboto */

@font-face
{
    font-family: Roboto;
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face
{
    font-family: RobotoBold;
    src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}