/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

html,
body
{
    background-color: #474747;
    padding: 0px;
    margin: 0px;
    color: #dedddc;
}

button
{
    font-size: medium;
    border: none;
    color: #dedddc;
    padding: 10px;
    border-radius: 15px;
    background-color: #e86d65;
}