/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

/* General IDs */

#ContentWrapper
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

/* 404 Page */

#NotFoundHeader
{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #e86d65;
    font-size: xx-large;
}

#NotFoundParagraph
{
    margin-bottom: 15px;
    font-size: large;
}

/* Menu Bar */

#MenuBarDivider
{
    background-color: #262626;
    color: #dedddc;
    height: 40px;
    font-size: large;
}

#MenuBarParagraph
{
    height: 20px;
    padding: 10px;
    font-family: RobotoBold;
}

#MenuBarButtonDivider
{
    background-color: #ffffff;
}

/* Footer */

#FooterDivider
{
    background-color: #262626;
    color: #dedddc;
    padding: 15px;
}