/*
    Author: Jacob Humston 
            - Github: https://github.com/jacobhumston-school    
    Editors:
*/

/* 404 Page */

#NotFoundHeader
{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #e86d65;
    font-size: xx-large;
}

#NotFoundParagraph
{
    margin-bottom: 15px;
    font-size: large;
}

/* Menu Bar */

#MenuBarDivider
{
    background-color: #262626;
    color: #dedddc;
    height: 40px;
    font-size: large;
}

#MenuBarParagraph
{
    height: 20px;
    padding: 10px;
    font-family: RobotoBold;
}