/*
    Author: Jacob Humston
*/

@font-face
{
    font-family: OpenSans;
    src: url("./OpenSans.ttf");
}

body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(248, 248, 248);
    background-size: cover;
    background-repeat: no-repeat;
}

html
{
    height: 100%;
}

#PageContent
{
    height: 100%;
}

.Wrapper
{
    background-color: rgb(228, 228, 228);
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 25px;
    font-family: OpenSans;
}

@keyframes FadeIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

#StoryText
{
    font-size: larger;
}

#StoryImage
{
    margin-bottom: 10px;
    animation: FadeIn 4s;
    outline: #000000 solid 3px;
}

.StoryButton
{
    font-size: medium;
    background-color: rgb(248, 248, 248);
    padding: 7px;
    border: none;
    border-radius: 10px;
    margin-bottom: 8px;
    opacity: 0;
}

.StoryButton:hover
{
    outline: #000000 solid 3px;
}

.StoryButton1
{
    animation: FadeIn 1.5s;
}

.StoryButton2
{
    animation: FadeIn 1.5s;
    animation-delay: 1s;
}

.StoryButton3
{
    animation: FadeIn 1.5s;
    animation-delay: 2s;
}

#PageNumber
{
    text-align: left;
}

.GreyText
{
    color: rgb(130, 130, 130);
}

.RedText
{
    color: rgb(255, 113, 97);
    font-size: larger;
}

#KeyBinds
{
    font-family: OpenSans;
    text-align: center;
}

.KeyCode
{
    background-color: rgb(248, 248, 248);
    padding: 5px;
    font-size: large;
    border-radius: 10px;
}